h1 {
  color: #ffc0cb;
}

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: #ffc0cb;
  border-top: 2px solid gray;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  font-family: "American Typewriter", serif;
  border: 2px solid gray;
  border-radius: 10px;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: #ffc0cb;
  border-bottom: 2px solid gray;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  font-family: "American Typewriter", serif;
  color: gray;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar span.online {
  float: right;
  margin-top: 1.5em;
  font-family: "American Typewriter", serif;
  font-style: italic; 
  color: gray
}

.notification-content {
  margin-left: 1em;
  color: tomato;
  font-family: "American Typewriter", serif;
  font-style: italic; 
}